.card-title {
    color: dodgerblue; /* fallback for old browsers */
    font-weight: bold;
}
.buttonStatus {
    font-size: 8px;
    color: white;
    font-weight: bold;
   /* background-color: #00a65a !important;*/
    width:80% !important;
    height:40% !important;
    text-align:center;
    margin-left:10%;
}
.custom-icon-edit {
    color: #007bff;
}
.custom-icon-delete {
    color: #007bff;
}
.textForm {
    color: black;
}

/* cỡ chữ của datatable*/

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 5px;
    border: 6px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }

    /* css table*/
thead {
    background-color: #3b8dbc;
    color: white;
    text-align: left;
    font-weight:bold;
}