<div id="frmCreate" class="form-horizontal" style="height:450px;overflow:auto">
    <div class="form-group">
        <div class="row">
            <label class="col-md-4" required>Tên nhà cung cấp</label>
            <div class="col-md-8">
                <input type="text" required class="form-control" id="txtName" placeholder="Tên nhà cung cấp">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label id="lbAnhDaiDien" class="col-md-4 col-form-label">Ảnh đại diện</label>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" accept="image/*" name="files" id="fileAnhDD">
                        <label class="custom-file-label" for="fileAnhDD">Chọn file</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label id="lbStatus" class="col-md-4">Trạng thái</label>
            <div class="col-md-8">
                <input id="ckbStatus" type="checkbox" class="custom-control">
            </div>
        </div>
    </div>
</div>
<script>
    var frmCreate = $('#frmCreate');
    //var urlDomain=
    $(document).ready(function () {
        bsCustomFileInput.init();
        addRequired(frmCreate);
    });
    $('#modal-form').find('#btnSave').off("click").on('click', function (e) {
        e.preventDefault();
        create();
    });
    function create() {
        if (ValidateForm(frmCreate)) {
            return;

        }

        var fileUpload = frmCreate.find('#fileAnhDD').get(0)
        if (fileUpload.files.length == 0) {
            showAlert('Chưa có tệp tin ảnh');
            return false;
        }

        var filePath = fileUpload.value; //validation file

        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif|\tiff|\raw|\psd)$/i;
        if (!allowedExtensions.exec(filePath)) {
            showAlert('Không đúng định dạng ảnh');
            fileUpload.value = '';
            return false;
        }
        else {
            showLoading()
            var files = fileUpload.files;
            var fileData = new FormData();
            var Obj = {
                "TenNCC": frmCreate.find('#txtName').val(),
                "TrangThai": frmCreate.find('#ckbStatus').prop("checked") ? 1 : 2

            }
            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append("files", files[i]);
                fileData.append('NCCArr', JSON.stringify(Obj));
            }

            $.ajax({
                url: url + "/create",
                method: "POST",
                data: fileData,
                processData: false,
                contentType: false
                , success: function (response) {
                    hideLoading()
                    if (response.result) {
                        showAlert(response.message, 2)
                        getData( "", -1);
                        hideContentModal()
                    } else {
                        showAlert(response.message)
                    }
                }
            });
        }

    }
</script>